
    
body,
form,
input,
option,
select,
textarea {
    font-family: "Poppins", sans-serif;
}

.main_container {
    margin-top: 100px;
}

main {
    display: block;
}

.Homepage_PageWrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 8% 4%;
}

/* div {
    display: block;
} */

.Homepage_MainHeading {
    margin: 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.Homepage_OrdersWrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 24px 0;
}

.Homepage_FilterWrapper {
    width: 180px;
}

.Homepage_FilterWrapper h3 {
    margin: 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.Homepage_FilterOptions {
    display: flex;
    flex-direction: column;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Homepage_FilterCheckbox {
    margin: 6px 0;
    cursor: pointer;
}

.Homepage_FilterCheckbox input {
    margin-right: 12px;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.Homepage_OrderTable {
    width: 100%;
    border-collapse: collapse;
}

table {
    display: table;
    /* border-collapse: separate; */
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

table>tr {
    vertical-align: middle;
}

tr {
    display: table-row;
    /* vertical-align: inherit; */
    border-color: inherit;
}

.Homepage_OrderTable td,
.Homepage_OrderTable th {
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    /* text-align: -internal-center; */
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.Homepage_OrderTable {
    width: 100%;
    border-collapse: collapse;
}


.Homepage_TableRow td {
    background-color: #fff;
    border-bottom: 4px solid #f6f7fb;
}


.Homepage_SecondaryText {
    color: #8c8c8c;
}

td {
    display: table-cell;
    vertical-align: inherit;
}


.Homepage_PrimaryText {
    color: rgba(0, 0, 0, .8);
    font-weight: 500;
}