
* {
    margin: 0;
    padding: 0;
}

/* header  */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F6F7FB;
}

.topbar_LeftMenu,
.topbar_logoWrapper,
.topbar {
    display: flex;
    align-items: center;
}

.topbar_logoWrapper {
    margin-right: 36px;
}

.topbar_logoWrapper img {
    width: 24px;
    height: 28px;
    margin-right: 8px;
}

.topbar_brandName {
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 500;
    margin: 0;
    color: rgba(0, 0, 0, .8);
}

.topbar_brandName {
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 500;
    margin: 0;
    color: rgba(0, 0, 0, .8);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

nav {
    display: block;
}

.topbar_menuItem {
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
    padding: 24px 0 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .6px;
    margin: 0 10px;
}

.topbar {
    width: 100%;
    padding: 0 48px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 4px #ccc;
    background-color: #fff;
    justify-content: space-between;
}

.active {
    color: #20b883;
    border-bottom: 3px solid #20b883;
}



